name: Deploy org blog to Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          package-manager-cache: false
      - run: npm install
      - uses: purcell/setup-emacs@master
        with:
          version: 30.2
      - name: build
        run: |
          emacs -Q --script build-site.el
          npm run index
          npm run minify
          rm -f ./public/css/style.css ./public/js/appearance.js ./public/js/code.js ./public/js/menu.js ./public/js/scroll.js ./public/js/search.js
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
