name: build

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          package-manager-cache: false
      - run: npm install
      - uses: purcell/setup-emacs@master
        with:
          version: 30.2
      - name: build
        run: |
          emacs -Q --script build-site.el
          npm run index
          npm run minify
          rm -f ./public/css/style.css ./public/js/appearance.js ./public/js/code.js ./public/js/menu.js ./public/js/scroll.js ./public/js/search.js
      - uses: actions/checkout@v6
        with:
          ref: publish
          path: publish
      - name: Upload site
        run: |
          cp -rf public/* publish/
          cd publish
          git config user.name xuchengpeng
          git config user.email chuckxcp@qq.com
          git add .
          git commit -m "update `date +"%Y-%m-%d %H:%M:%S"`"
          git push origin publish
        env:
          GH_TOKEN: ${{ github.token }}
